/* Custom properties in root elements to use css variables */

html {
    scroll-behavior: smooth;
}

/*root elements color*/
:root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: color-black;
}

/*body*/
body {
    color:  var(--text-color);
}

/*all anchor elements*/
a {
    color: var(--text-color);
}

/*visually-hidden*/
.visually-hidden {
    display: none;
}

/*card-category*/
.card-category {
    color: var(--color-primary);
}

/*section-tagline*/
.section-tagline {
    color: var(--color-primary);
}